# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
*_cache/
/cache/
*_files/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# Rmd outputs formats, other documents and files
*.docx
*.html
*.pdf

# Directories and links
.Rproj.user
dat/
!dat/penguins.csv
*.lnk
